/*!   
Theme Name: DS
Author: Stepanov Max
Author URI: http://stepanovmax.ru
Version: 1.0
Description: DST theme
*/
/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* Document
   ========================================================================== */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
}
/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}
/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}
/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}
/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0;
}
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}
/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}
/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}
/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}
/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}
/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}
/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}
/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}
/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block;
}
/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}
/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}
/**
 * Add the correct display in IE.
 */
template {
  display: none;
}
/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(http://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTa-j2U0lmluP9RWlSytm3ho.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(http://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTZX5f-9o1vgP2EXwfjgl7AY.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(http://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTRWV49_lSm1NYrwo-zkhivY.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(http://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTaaRobkAwv3vxw3jMhVENGA.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(http://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTf8zf_FOSsgRmwsS7Aa9k2w.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(http://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTT0LW-43aMEzIO6XUTLjad8.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(http://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v13/K88pR3goAWT7BTt32Z01mxJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v13/RjgO7rYTmqiVp7vzi-Q5URJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v13/LWCjsQkB6EMdfHrEVqA1KRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v13/xozscpT2726on7jbcb_pAhJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v13/59ZRklaO5bWGqF5A9baEERJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v13/u-WUoqrET9fUeobQW7jkRRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzK-j2U0lmluP9RWlSytm3ho.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzJX5f-9o1vgP2EXwfjgl7AY.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzBWV49_lSm1NYrwo-zkhivY.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzKaRobkAwv3vxw3jMhVENGA.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzP8zf_FOSsgRmwsS7Aa9k2w.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzD0LW-43aMEzIO6XUTLjad8.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzOgdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(http://fonts.gstatic.com/s/robotoslab/v6/y7lebkjgREBJK96VQi37ZjTOQ_MqJVwkKsUn0wKzc2I.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(http://fonts.gstatic.com/s/robotoslab/v6/y7lebkjgREBJK96VQi37ZjUj_cnvWIuuBMVgbX098Mw.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(http://fonts.gstatic.com/s/robotoslab/v6/y7lebkjgREBJK96VQi37ZkbcKLIaa1LC45dFaAfauRA.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(http://fonts.gstatic.com/s/robotoslab/v6/y7lebkjgREBJK96VQi37Zmo_sUJ8uO4YLWRInS22T3Y.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(http://fonts.gstatic.com/s/robotoslab/v6/y7lebkjgREBJK96VQi37Zr6up8jxqWt8HVA3mDhkV_0.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(http://fonts.gstatic.com/s/robotoslab/v6/y7lebkjgREBJK96VQi37ZiYE0-AqJ3nfInTTiDXDjU4.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(http://fonts.gstatic.com/s/robotoslab/v6/y7lebkjgREBJK96VQi37Zo4P5ICox8Kq3LLUNMylGO4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'), url(http://fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJZ6iIh_FvlUHQwED9Yt5Kbw.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'), url(http://fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJS_vZmeiCMnoWNN9rHBYaTc.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'), url(http://fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJSFaMxiho_5XQnyRZzQsrZs.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'), url(http://fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJQalQocB-__pDVGhF3uS2Ks.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'), url(http://fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJWhQUTDJGru-0vvUpABgH8I.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'), url(http://fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJejkDdvhIIFj_YMdgqpnSB0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'), url(http://fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJYlIZu-HDpmDIZMigmsroc4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
* {
  box-sizing: border-box;
}
body {
  color: #373149;
  font-family: "Open sans", sans-serif;
  background-color: #f1f1f1;
}
p {
  color: #404040;
  line-height: 22px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Slab', serif;
}
.container {
  padding: 15px 15px 15px 100px;
  position: relative;
  zoom: 1;
}
.container:before,
.container:after {
  content: "";
  display: table;
}
.container:after {
  clear: both;
}
.column {
  float: left;
}
.column_half {
  width: 50%;
}
.column_center {
  width: 70%;
  padding: 0 25px;
}
.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  zoom: 1;
}
.list:before,
.list:after {
  content: "";
  display: table;
}
.list:after {
  clear: both;
}
.list__item {
  padding: 0 10px 0 0;
  margin-bottom: 5px;
}
.list_vertical__item {
  padding: 0 10px 0 8px;
  margin-bottom: 5px;
}
.list_horizontal .list__item {
  float: left;
}
.btn {
  cursor: pointer;
  transition: .5s;
}
.btn_toggle .btn__line {
  left: 0;
  opacity: 1;
  height: 4px;
  width: 100%;
  display: block;
  position: absolute;
  border-radius: 12px;
  background: #fff;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}
.btn_toggle .btn__line:nth-child(1) {
  top: 0;
}
.btn_toggle .btn__line:nth-child(2),
.btn_toggle .btn__line:nth-child(3) {
  top: 10px;
}
.btn_toggle .btn__line:nth-child(4) {
  top: 20px;
}
.btn_toggle.active .btn__line:nth-child(1) {
  top: 18px;
  width: 0;
  left: 50%;
}
.btn_toggle.active .btn__line:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.btn_toggle.active .btn__line:nth-child(2),
.btn_toggle.active .btn__line:nth-child(3) {
  top: 10px;
}
.btn_toggle.active .btn__line:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.btn_toggle.active .btn__line:nth-child(4) {
  top: 18px;
  width: 0;
  left: 50%;
}
.btn:active,
.btn:focus {
  outline: none;
  color: #fff;
}
.btn:active:focus {
  outline: none;
  color: #fff;
}
.btn:hover {
  opacity: .8;
}
.widget {
  zoom: 1;
}
.widget:before,
.widget:after {
  content: "";
  display: table;
}
.widget:after {
  clear: both;
}
.widget__title {
  font-size: 20px;
  margin: 0 0 20px;
}
.widget_logo {
  float: left;
  width: 200px;
  margin: 0 30px 0 0;
}
.widget_popular {
  float: left;
  width: 72%;
  padding: 25px 0;
}
.widget_popular .list__item {
  width: 20%;
  max-width: 200px;
}
.widget_popular .widget__link {
  display: block;
}
.widget_popular .widget__link:hover {
  opacity: .8;
  transition: all .5s;
}
.widget_popular .widget__img {
  height: auto;
  max-width: 100%;
  vertical-align: top;
}
.widget_news {
  width: 15%;
  float: left;
  padding: 25px 25px;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}
.widget_news .list__item {
  margin: 0 0 25px;
}
.widget_news__img {
  width: 100%;
  display: none;
}
.widget_news__link {
  display: block;
  margin: 0 0 5px;
  text-decoration: none;
  color: #373149;
}
.widget_news__link:hover {
  opacity: .8;
  transition: all .5s;
}
.widget_news__title {
  margin: 0 0 5px;
  font-size: 14px;
}
.widget_news__date {
  font-size: 12px;
  font-weight: 700;
  margin: 0 0 5px;
  text-align: right;
}
.widget_news__descr {
  font-size: 13px;
  line-height: 15px;
  margin: 0 0 5px;
}
.widget_clients {
  width: 15%;
  float: left;
  text-align: center;
  padding: 25px 25px;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}
.widget_clients__img {
  height: auto;
  max-width: 100%;
  display: inline-block !important;
}
.widget_clients__link {
  display: block;
  margin: 0 0 25px;
}
.widget_clients__link:hover {
  opacity: .8;
  transition: all .5s;
}
.widget_clients .list__item {
  margin: 0;
  height: 180px;
}
.widget_center {
  margin: 0 0 25px;
  padding: 25px 25px;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}
.slick-dots {
  margin: 15px 0 0;
  padding: 0;
  text-align: center;
}
.slick-dots li {
  padding: 0 8px;
  display: inline-block;
}
.slick-dots li button {
  width: 15px;
  height: 15px;
  display: block;
  text-indent: -9999px;
  border-radius: 100%;
  border: 1px solid #373149;
  background-color: transparent;
}
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:active {
  outline: none;
}
.slick-dots li button:active:focus {
  outline: none;
}
.slick-dots li button:hover {
  cursor: pointer;
}
.slick-dots li.slick-active button {
  background-color: #373149;
}
.slick-list {
  overflow: hidden;
}
.sidebar {
  left: 0;
  bottom: 0;
  z-index: 10;
  width: 63px;
  height: 100%;
  padding: 25px 0;
  position: fixed;
  transition: all .5s;
  background-color: #373149;
  box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.4);
}
.sidebar:hover {
  width: 250px;
}
.sidebar:hover .call-us {
  opacity: 1;
  width: auto;
  height: 100px;
  visibility: visible;
}
.sidebar:hover .menu__text {
  opacity: 1;
  overflow: visible;
  visibility: visible;
}
.sidebar:hover .developer__text {
  height: auto;
  margin: 13px 0 0 10px;
  opacity: 1;
  overflow: visible;
  visibility: visible;
}
.call-us {
  width: 0;
  height: 100px;
  overflow: hidden;
  border-radius: 4px;
  padding: 20px 20px;
  margin: 50px 10px 25px;
  background-color: rgba(255, 255, 255, 0.05);
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s linear 0.1s, opacity 0.1s linear;
}
.call-us__title {
  padding: 0;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  margin: 0 0 10px;
}
.call-us__link {
  color: #fff;
  display: block;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
}
.call-us__icon {
  fill: #fff;
  width: 20px;
  height: 20px;
}
.call-us__number {
  line-height: 24px;
  vertical-align: top;
  font-family: "Noto Sans", sans-serif;
}
.menu__link {
  height: 45px;
  display: block;
  transition: .5s;
  overflow: hidden;
  padding: 10px 12px;
  border-radius: 4px;
  color: #918aab;
  text-decoration: none;
  background-color: #2f2a40;
  zoom: 1;
}
.menu__link:hover {
  opacity: 1;
  color: #fff;
}
.menu__link:hover .menu__icon {
  fill: #fff;
}
.menu__link:focus,
.menu__link:active {
  color: #918aab;
  background-color: #2f2a40;
}
.menu__link:before,
.menu__link:after {
  content: "";
  display: table;
}
.menu__link:after {
  clear: both;
}
.menu__icon {
  width: 20px;
  height: 20px;
  transition: .5s;
  fill: #918aab;
  margin: 2px 4px 0 1px;
}
.menu__text {
  height: 0;
  opacity: 0;
  letter-spacing: .2px;
  font-size: 16px;
  font-weight: 700;
  line-height: 25px;
  visibility: hidden;
  vertical-align: top;
  transition: visibility 0s linear 0.5s;
}
.menu_sidebar .list__item {
  padding: 0 8px 0 6px;
}
.menu_sidebar .menu__text {
  font-size: 14px;
}
.developer {
  height: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.05);
}
.developer__link {
  display: block;
  transition: .5s;
  color: #918aab;
  text-decoration: none;
}
.developer__link:hover {
  color: #fff;
}
.developer__link:hover .developer__icon {
  fill: #fff;
}
.developer__icon {
  width: 30px;
  height: 30px;
  transition: .5s;
  fill: #918aab;
  margin: 10px 0 0 12px;
}
.developer__text {
  height: 0;
  opacity: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 25px;
  visibility: hidden;
  vertical-align: top;
  letter-spacing: .2px;
  display: inline-block;
  transition: visibility 0s linear 0.5s;
}
.developer_mobile {
  display: none;
}
.header-top {
  margin: 0 0 25px;
  padding: 25px 25px;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  zoom: 1;
}
.header-top:before,
.header-top:after {
  content: "";
  display: table;
}
.header-top:after {
  clear: both;
}
.header-top__link {
  opacity: 1;
  display: block;
}
.header-top__link:hover {
  opacity: .8;
  transition: all .5s;
}
.header-top__img {
  width: 100%;
  height: auto;
  vertical-align: top;
}
.header-top .column {
  padding: 0 0 0 15px;
}
.header-top .column:first-child {
  padding: 0 15px 0 0;
}
.header-bottom {
  margin: 0 0 25px;
  padding: 0 25px;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  zoom: 1;
}
.header-bottom:before,
.header-bottom:after {
  content: "";
  display: table;
}
.header-bottom:after {
  clear: both;
}
.header-mobile {
  display: none;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  position: fixed;
  height: 60px;
  background-color: #373149;
  box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.4);
}
.header-mobile .menu {
  opacity: 0;
  transition: .5s;
  visibility: hidden;
}
.header-mobile .menu__icon {
  display: none;
}
.header-mobile__btn {
  float: right;
  border: 0;
  width: 32px;
  height: 32px;
  cursor: pointer;
  margin: 19px 25px 5px;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  background-color: transparent;
}
.header-mobile.active .menu {
  opacity: 1;
  visibility: visible;
  transition: .5s;
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  padding: 25px 0;
  text-align: center;
  background-color: rgba(55, 49, 73, 0.9);
}
.header-mobile.active .menu__link {
  height: auto;
  padding: 25px 0;
  background-color: transparent;
}
.header-mobile.active .menu__icon {
  display: none;
}
.header-mobile.active .menu__text {
  opacity: 1;
  height: auto;
  color: #fff;
  font-size: 26px;
  font-weight: 300;
  visibility: visible;
}
.logo {
  opacity: 1;
  display: inline-block;
  margin: 4px 0 0;
}
.logo:hover {
  opacity: .8;
  transition: all .5s;
}
.logo__svg {
  width: 100%;
  height: auto;
}
.logo_header {
  margin: 10px 30px 0 0;
}
.logo_mobile {
  float: left;
}
.logo_mobile .logo__svg {
  width: 137px;
  height: 50px;
}
.search {
  position: relative;
  padding: 25px 25px;
  margin: 0 0 25px;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}
.search__field {
  z-index: 1;
  position: relative;
  text-indent: 70px;
  width: 100%;
  height: 60px;
  border: 5px solid #373149;
  line-height: 30px;
  font-size: 20px;
  color: #373149;
  text-transform: lowercase;
}
.search__field:focus {
  outline: none;
}
.search__btn {
  top: 35px;
  right: 35px;
  border: 0;
  z-index: 2;
  position: absolute;
  background-color: transparent;
}
.search__icon {
  top: 38px;
  left: 42px;
  border: 0;
  z-index: 2;
  position: absolute;
  width: 40px;
  height: 40px;
  fill: #373149;
}
.search .btn__icon {
  width: 40px;
  height: 40px;
  fill: #373149;
}
#ajaxsearchpro1_1 {
  box-shadow: none !important;
}
#ajaxsearchpro1_1 .probox {
  border: 5px solid #373149 !important;
}
#ajaxsearchpro1_1 .probox:focus {
  outline: none;
}
#ajaxsearchpro1_1 .probox .proinput .orig {
  text-indent: 70px;
  font-size: 18px !important;
  font-weight: 400 !important;
}
#ajaxsearchpro1_1 .probox .proinput .orig::-webkit-input-placeholder {
  font-size: 18px !important;
  font-weight: 400 !important;
}
#ajaxsearchpro1_1 .probox .proinput .orig:-moz-placeholder {
  /* Firefox 18- */
  font-size: 18px !important;
  font-weight: 400 !important;
}
#ajaxsearchpro1_1 .probox .proinput .orig::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 18px !important;
  font-weight: 400 !important;
}
#ajaxsearchpro1_1 .probox .proinput .orig:-ms-input-placeholder {
  font-size: 18px !important;
  font-weight: 400 !important;
}
.catalog {
  margin: 0 0 25px;
  padding: 25px 25px;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}
.catalog__title {
  font-size: 20px;
  margin: 0 0 20px;
}
.catalog__link {
  width: 100%;
  display: table;
  color: #373149;
  padding: 0 10px 0 5px;
  text-decoration: none;
  transition: all .5s;
  border-radius: 2px;
  background-color: #fff;
}
.catalog__link:hover {
  background-color: #dedbe6;
}
.catalog__icon {
  display: table-cell;
  vertical-align: middle;
  width: 27px;
  height: 35px;
  fill: #373149;
  margin: 0 0 0 0;
  transition: all .5s;
}
.catalog__text {
  width: 90%;
  display: table-cell;
  vertical-align: middle;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
}
.catalog .list__item {
  width: 50%;
  margin-bottom: 5px;
}
.info {
  margin: 0 0 25px;
  padding: 25px 25px;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}
.info .info__title {
  font-size: 16px;
  margin: 0 0 15px;
  line-height: 24px;
}
.info p {
  font-size: 14px;
}
@media (max-width: 1400px) {
  .list_vertical .list__item {
    padding: 0;
  }
  .widget_clients {
    width: 20%;
    padding: 15px;
  }
  .widget_clients .list__item {
    padding: 0;
    height: 160px;
  }
  .widget_news {
    width: 20%;
    padding: 15px;
  }
  .widget__title {
    font-size: 16px;
    margin: 0 0 15px;
    line-height: 20px;
  }
  .column_center {
    width: 60%;
    padding: 0 15px;
  }
  .catalog {
    padding: 15px;
    margin: 0 0 15px;
  }
  .catalog__title {
    font-size: 16px;
    margin: 0 0 15px;
    line-height: 20px;
  }
  .catalog .list__item {
    width: auto;
    float: none;
    padding: 0;
  }
  .header-top {
    padding: 15px;
    margin: 0 0 15px;
  }
}
@media (max-width: 1100px) {
  .catalog .list__item {
    width: auto;
    float: none;
    margin: 0 0 5px;
    padding: 0;
  }
  .column {
    padding: 0 15px;
  }
}
@media (max-width: 1024px) {
  .container {
    width: auto;
    padding: 10px 10px;
  }
  .column {
    width: auto;
    float: none;
    padding: 0;
  }
  .sidebar {
    display: none;
  }
  .header-top {
    margin-top: 60px;
  }
  .header-top__link {
    margin: 0 0 10px;
  }
  .header-top .column {
    padding: 0;
  }
  .header-top .column:first-child {
    padding: 0;
  }
  .header-mobile {
    display: block;
  }
  .header-mobile.active .menu__link {
    padding: 5px 0;
  }
  .header-mobile.active .menu__text {
    font-size: 16px;
  }
  .logo_header {
    display: none;
  }
  .logo_sidebar {
    display: block;
  }
  .catalog {
    margin: 0 0 25px;
  }
  .catalog__title {
    text-align: center;
  }
  .info {
    margin: 0 0 25px;
  }
  .widget {
    margin: 0 0 25px;
  }
  .widget__title {
    text-align: center;
  }
  .widget_logo {
    display: none;
  }
  .widget_clients,
  .widget_news {
    width: auto;
    float: none;
  }
  .widget_clients .list__item,
  .widget_news .list__item {
    padding: 0 10px;
    height: auto;
    float: left;
    width: 33.3%;
  }
  .widget_popular {
    width: auto;
    float: none;
  }
  .widget_popular .list__item {
    max-width: inherit;
  }
  .widget_popular .widget__link {
    text-align: center;
  }
  .widget_popular .widget__img {
    display: inline-block !important;
  }
}
@media (max-width: 767px) {
  .widget {
    text-align: center;
  }
  .widget__title {
    font-size: 22px;
  }
  .widget .list__item {
    width: auto;
    max-width: inherit;
    padding: 0 0 15px;
  }
  .widget_news .widget__link,
  .widget_clients .widget__link,
  .widget_popular .widget__link {
    display: inline-block;
  }
  .widget_news__img,
  .widget_clients__img,
  .widget_popular__img {
    width: auto;
  }
  .catalog__title {
    font-size: 20px;
    text-align: center;
  }
  .catalog__icon {
    margin: 0 15px 0 0;
  }
}
