﻿.article {
  padding: 0 0 25px;
  &__title {
    font-size: 26px;
    text-align: center;
    margin: 35px 0 10px;
  }
  &__content {
    font-size: 14px;
    line-height: 18px;
  }
  &__subtitle {
    font-size: 20px;
    margin: 15px 0 30px;
    text-align: center;
  }
  &__subcontent {
    .clearfix;
  }
  &__toggle {
    margin: 50px 0;
    padding-top: 15px;
    text-align: center;
    border-top: 1px solid #ddd;
  }
  &__item {
    margin-bottom: 50px;
    &_logo {
      margin-bottom: 50px;
      text-align: center;
      .article__subcontent {
        img {
          max-width: 100%;
          display: inline-block;
        }
      }
    }
    &_descr {
      margin-bottom: 50px;
      .article__subcontent {
        max-height: 300px;
        overflow: hidden;
        transition: max-height 0.5s ease-out;
      }
      .btn {
        &__icon {
          &_close {
            display: none;
          }
          &_open {
            display: block;
          }
        }
        &__text {
          &_close {
            display: none;
          }
          &_open {
            display: block;
          }
        }
      }
      &.open {
        .btn {
          &__icon {
            &_close {
              display: block;
            }
            &_open {
              display: none;
            }
          }
          &__text {
            &_close {
              display: block;
            }
            &_open {
              display: none;
            }
          }
        }
        .article__subcontent {
          max-height: 3000px;
          transition: max-height 0.5s ease-in;
        }
      }
    }
    &_contacts {
      margin-bottom: 30px;
    }
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 19px;
  }
  h4 {
    font-size: 18px;
    margin: 5px 0 5px; 
  }
  h5 {
    font-size: 12px;
  }
  h6 {
    font-size: 10px;
  }
  table {
    width: 100%;
    padding: 10px 0;
    margin-bottom: 30px;
    border: 1px solid #ddd;
    border-spacing: 0;
    border-collapse: collapse;
    background-color: transparent;
  }
  td {
    padding: 5px 10px;
    vertical-align: top;
    border: 1px solid #ddd;
    font-size: 15px;
    line-height: 20px;
  }
  img {
    height: auto;
    display: block;
    max-width: 100%;
  }
}
