.call-us {
	width: 0;
	height: 100px;
	overflow: hidden;
	border-radius: 4px;
  padding: 20px 20px;
	margin: 50px 10px 25px;
	background-color: rgba(255, 255, 255, .05);

	opacity: 0;
	visibility: hidden;
	transition: visibility 0s linear 0.1s, opacity 0.1s linear;
	&__title {
		padding: 0;
		color: #fff;
		font-size: 14px;
		font-weight: 700;
		margin: 0 0 10px;
	}
	&__link {
		color: #fff;
		display: block;
		font-size: 16px;
		font-weight: 700;
		text-decoration: none;
	}
	&__icon {
		fill: #fff;
		width: 20px;
		height: 20px;
	}
	&__number {
		line-height: 24px;
		vertical-align: top;
		font-family: "Noto Sans", sans-serif;
	}
}