.catalog {
	margin: 0 0 25px;
	padding: 25px 25px;
	background-color: @white;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
	&__title {
		font-size: 20px;
		margin: 0 0 20px;
	}
	&__link {
		width: 100%;
		display: table;
		color: @blue-dark;
		padding: 0 10px 0 5px;
		text-decoration: none;
		transition: all .5s;
    border-radius: 2px;
		background-color: @white;
		&:hover {
			background-color: #dedbe6;
		}
	}
	&__icon {
		display: table-cell;
		vertical-align: middle;
		width: 27px;
		height: 35px;
		fill: @blue-dark;
		margin: 0 0 0 0;
		transition: all .5s;
	}
	&__text {
		width: 90%;
		display: table-cell;
		vertical-align: middle;
		font-size: 15px;
		font-weight: 400;
		line-height: 18px;
	}
	.list {
		&__item {
			width: 50%;
			margin-bottom: 5px;
		}
	}
}