﻿.column {
	float: left;
	&_half {
		width: 50%;
	}
	&_center {
		width: 70%;
	}
	&_left {
		.island;
		width: 15%;
		float: left;
	}
	&_right {
		.island;
		width: 15%;
		float: left;
	}
	&_inner {
		.island;
		float: none;
		padding: 0 25px 25px;
		margin: 0 25px;
	}
}