﻿* {
	box-sizing: border-box;
}
body {
	font-size: 16px;
	color: @blue-dark;
	background-color: #f1f1f1;
	font-family: "Open sans", sans-serif;
}
a {
	color: @blue-dark;
	text-decoration: underline;
	&:hover {
		text-decoration: none;
	}
}
p {
	color: #404040;
	line-height: 22px;
}
.island {
	background-color: @white;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Roboto Slab', serif;
}
