﻿.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  .clearfix;
  &__item {
    margin-bottom: 5px;
  }
  &_vertical {
    &__item {
      padding: 0 10px 0 8px;
      margin-bottom: 5px;
    }
  }
  &_horizontal {
    .list__item {
      float: left;
    }
  }
  &_contacts {
    padding: 0;
    float: left;
    list-style-type: none;
    max-width: 50%;
    .list {
      &__item {
        margin-bottom: 15px;
        line-height: 24px;
      }
      &__content {
        ul {
          padding: 0;
          list-style-type: none;
          li {
            margin: 0 0 5px;
          }
        }
        ol {
          padding: 0;
          list-style-type: none;
          li {
            margin: 0 0 5px;
          }
        }
      }
    }
    &.list_second {
      float: right;
      margin-right: 100px;
    }
  }
  &_offices {
    .list {
      &__item {
        width: 100%;
        display: table;
        margin-bottom: 0;
        padding: 5px 0;
        position: relative;
        transition: .25s ease-in-out;
        border-bottom: 1px solid @grey-lighter;
        &:last-of-type {
          border-bottom: 0;
        }
        &:hover {
          background-color: @grey-lighter;
        }
      }
      &__sub-item {
        padding: 5px 10px;
        display: table-cell;
        vertical-align: top;
      }
      &__address {
        width: 40%;
      }
      &__phone {
        width: 30%;
      }
      &__working-time {
        width: 30%;
      }
      &__link {
        width: 100%;
        height: 100%;
        position: absolute;
      }
    }
  }
  &_menu {
    text-align: center;
    .list {
      &__item {
        padding: 0 6px;
        position: relative;
        display: inline-block;
        &:after {
          content: '';
          width: 1px;
          height: 10px;
          background-color: @blue-dark;
          position: absolute;
          right: -2px;
          top: 5px;
        }
        &:last-of-type {
          &:after {
            display: none;
          }
        }
      }
      &__link {
        font-size: 14px;
        cursor: pointer;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  &_search {
    .list {
      &__item {
        display: inline-block;
      }
      &__link {
        color: @white;
        display: block;
        font-size: 12px;
        padding: 4px 7px;
        border-radius: 2px;
        transition: all .5s;
        text-decoration: none;
        background-color: @blue-dark;
        &:hover {
          opacity: .8;
        }
      }
    }
  }
  &_breadcrumbs {
    .list {
      &__item {
        font-size: 10px;
        font-weight: 700;
        color: @blue-dark;
        margin-right: 10px;
        display: inline-block;
        text-transform: uppercase;
      }
      &__link {
        display: block;
        font-size: 10px;
        font-weight: 700;
        color: @blue-dark;
        position: relative;
        text-transform: uppercase;
        &:after {
          content: '\003e';
          position: absolute;
          right: -10px;
          top: 0;

        }
      }
    }
  }
}
