﻿.logo {
	opacity: 1;
	display: inline-block;
	margin: 4px 0 0;
	&:hover {
		opacity: .8;
		transition: all .5s;
	}
  &__svg {
    width: 100%;
    height: auto;
  }
  &__img {
    width: 100%;
    height: auto;
  }
	&_header {
		margin: 30px 20px 0 10px;
	}
	&_mobile {
		float: left;
		.logo__svg {
			width: 137px;
			height: 50px;
		}
	}
}