﻿// Desktop
@media (min-width: @desktop) {

}
// Desktop Big
@media (max-width: @desktop-big) {
  .list {
    &_vertical {
      .list__item {
        padding: 0;
      }
    }
  }
  .widget {
    &_clients {
      width: 20%;
      padding: 15px;
      .list {
        &__item {
          padding: 0;
          height: 160px;
        }
      }
    }
    &_news {
      width: 20%;
      padding: 15px;
    }
    &__title {
      font-size: 16px;
      margin: 0 0 15px;
      line-height: 20px;
    }
    &_catalog {
      padding: 15px;
      margin: 0 0 15px;
      .widget {
        &__title {
          font-size: 16px;
          margin: 0 0 15px;
          line-height: 20px;
        }
        &__icon {
          margin: 0 10px 0 0;
        }
      }
      .list {
        &__item {
          width: 50%;
          padding: 0;
          height: 50px;
        }
      }
    }
  }
  .column {
    &_center {
      width: 60%;
      padding: 0 15px;
    }
  }
  .list {
    &_vertical {
      .list__item {
        
      }
    }
  }
  .header {
    &-top {
      padding: 15px;
      margin: 0 0 15px;
    }
  }
}
// Tablet Landscape
@media (max-width: @desktop) {
  .catalog {
    .list {
      &__item {
        width: auto;
        float: none;
        margin: 0 0 5px;
        padding: 0;
      }
    }
  }
  .column {
    padding: 0 15px;
  }
  .list {
    &_contacts {
      float: none;
      max-width: inherit;
      &.list {
        &_second {
          float: none;
          margin-right: 0;
        }
      }
    }
  }
}
// Tablet Portrait
@media (max-width: @tablet) {
  .container {
    width: auto;
    padding: 10px 10px;
  }
  .column {
    width: auto;
    float: none;
    padding: 0;
    &_inner {
      margin: 0;
      padding: 25px 25px 0;
    }
  }
  .sidebar {
    display: none;
  }
  .header {
    &-top {
      margin-top: 60px;
      .column {
        padding: 0;
        &:first-child {
          padding: 0;
          .header-top__link {
            margin: 0 0 15px;
          }
        }
        .header-top__link {
          margin: 0;
        }
      }
    }
    &-mobile {
      display: block;
      &.active {
        .menu {
          &__link {
            padding: 5px 0;
          }
          &__text {
            font-size: 16px;
          }
        }
      }
    }
  }
  .logo {
    &_header {
      display: none;
    }
    &_sidebar {
      display: block;
    }
  }
  .catalog {
    margin: 0 0 25px;
    &__title {
      text-align: center;
    }
  }
  .info {
    margin: 0 0 25px;
  }
  .widget {
    margin: 0 0 25px;
    &__title {
      text-align: center;
    }
    &_logo {
      display: none;
    }
    &_clients,
    &_news {
      width: auto;
      float: none;
      padding: 25px 0 0;
      .list__item {
        padding: 0 10px;
        height: auto;
        float: left;
        width: 33.3%;
      }
    }
    &_popular {
      width: auto;
      float: none;
      padding: 25px 0 0;
      .list {
        &__item {
          max-width: inherit;
        }
      }
      .widget {
        &__link {
          padding: 0;
          text-align: center;
        }
        &__img {
          display: inline-block !important;
        }
      }
    }
  }
}
// Mobile
@media (max-width: @portrait) {
  .widget {
    text-align: center;
    &__title {
      font-size: 22px;
    }
    .list {
      &__item {
        width: auto;
        max-width: inherit;
        padding: 0 0 15px;
      }
    }
    &_news,
    &_clients,
    &_popular {
      .widget__link {
        display: inline-block;
      }
      &__img {
        width: auto;
      }
    }
  }
  .list {
    &_offices {
      .list {
        &__item {
          display: block;
          padding: 15px 5px;
        }
        &__sub-item {
          display: block;
          font-size: 14px;
        }
        &__address {
          width: auto;
        }
        &__phone {
          width: auto;
        }
        &__working-time {
          width: auto;
        }
      }
    }
  }
  .catalog {
    &__title {
      font-size: 20px;
      text-align: center;
    }
    &__icon {
      margin: 0 15px 0 0;
    }
  }
}
