.menu {
  &__link {
    height: 45px;
    display: block;
    transition: .5s;
    overflow: hidden;
    padding: 10px 12px;
    border-radius: 4px;
    color: @grey-middle;
    text-decoration: none;
    background-color: @blue-light;
    &:hover {
      opacity: 1;
      color: @white;
      .menu__icon {
        fill: @white;
      }
    }
    &:focus,
    &:active {
      color: @grey-middle;
      background-color: @blue-light;
    }
    .clearfix;
  }
  &__icon {
    width: 20px;
    height: 20px;
    transition: .5s;
    fill: @grey-middle;
    margin: 2px 4px 0 1px;
  }
  &__text {
    height: 0;
    opacity: 0;
    letter-spacing: .2px;
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
    visibility: hidden;
    vertical-align: top;
    transition: visibility 0s linear 0.5s;
  }
  &_sidebar {
    .list__item {
      padding: 0 8px 0 6px;
    }
    .menu__text {
      font-size: 14px;
    }
  }
}