﻿.search {
  margin: 0 0 10px;
  position: relative;
  &__field {
    z-index: 1;
    position: relative;
    text-indent: 70px;
    width: 100%;
    height: 60px;
    border: 5px solid @blue-dark;
    line-height: 30px;
    font-size: 20px;
    color: @blue-dark;
    text-transform: lowercase;
    &:focus {
      outline: none;
    }
  }
  &__btn {
    top: 12px;
    right: 35px;
    border: 0;
    z-index: 2;
    position: absolute;
    background-color: transparent;
  }
  &__icon {
    top: 12px;
    left: 42px;
    border: 0;
    z-index: 2;
    position: absolute;
    width: 40px;
    height: 40px;
    fill: @blue-dark;
  }
  .btn__icon {
    width: 40px;
    height: 40px;
    fill: @blue-dark;
  }
}