/* ==========================================================
* Begin of Fonts
* ===========================================================
*/
@import url("//fonts.googleapis.com/css?family=Open+Sans:300,400,500,700&subset=latin-ext");
@import url("//fonts.googleapis.com/css?family=Noto+Sans:400,700&subset=cyrillic");
@import url("//fonts.googleapis.com/css?family=Noto+Sans:400,700|Roboto+Slab:400,700&subset=cyrillic");
/* ==========================================================
* End of Fonts
* ===========================================================
*/
/* ==========================================================
* Begin of Variables
* ===========================================================
*/
/* ==========================================================
* End of Variables
* ===========================================================
*/
/* ==========================================================
* Begin of Common
* ===========================================================
*/
body,
html {
  height: 100%;
  min-height: 100%;
  font-size: 14px;
  font-family: 'Open Sans'; }

.wrapper {
  min-height: 100%;
  background-color: #f1f1f1; }

a {
  opacity: 1;
  text-decoration: underline;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all; }
  a:hover {
    opacity: 0.8;
    text-decoration: none; }

.btn {
  -webkit-box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.3);
  padding: 12px 20px 8px; }
  .btn.btn-default {
    color: #fff;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    text-transform: uppercase; }
  .btn.btn-primary {
    border: 0;
    color: #fff;
    letter-spacing: 3px;
    text-decoration: none;
    background-color: #ff3030; }
  .btn:active, .btn:focus {
    outline: none;
    color: #fff; }
  .btn:active:focus {
    outline: none;
    color: #fff; }

/* ==========================================================
* End of Common
* ===========================================================
*/
/* ==========================================================
* Begin of Grid
* ===========================================================
*/
.container-fluid.no-gutter,
.container.no-gutter {
  padding-right: 0;
  padding-left: 0; }
  .container-fluid.no-gutter .row,
  .container.no-gutter .row {
    margin-left: 0;
    margin-right: 0; }
    .container-fluid.no-gutter .row [class*='col-'],
    .container-fluid.no-gutter .row [class*='col-']:not(:first-child),
    .container-fluid.no-gutter .row [class*='col-']:not(:last-child),
    .container.no-gutter .row [class*='col-'],
    .container.no-gutter .row [class*='col-']:not(:first-child),
    .container.no-gutter .row [class*='col-']:not(:last-child) {
      padding-right: 0;
      padding-left: 0;
      /*min-height: inherit;*/ }

.row.no-gutter {
  margin-left: 0;
  margin-right: 0; }
  .row.no-gutter [class*='col-'],
  .row.no-gutter [class*='col-']:not(:first-child),
  .row.no-gutter [class*='col-']:not(:last-child) {
    padding-right: 0;
    padding-left: 0;
    min-height: inherit; }

/* ==========================================================
* End of Grid
* ===========================================================
*/
/* ==========================================================
* Begin of Sidebar
* ===========================================================
*/
.main-sidebar {
  left: 0;
  z-index: 10;
  position: fixed;
  width: 63px;
  height: 100%;
  padding: 25px 0;
  -webkit-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.4);
  background-color: #373149;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all; }
  .main-sidebar .logo {
    display: block;
    margin: auto;
    max-width: 150px;
    margin: 4px 0 0; }
    .main-sidebar .logo img {
      display: block;
      max-width: 100%;
      vertical-align: top; }
  .main-sidebar .call-us {
    width: 0;
    height: 92px;
    overflow: hidden;
    margin: 50px 10px 25px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.05);
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s linear 0.1s, opacity 0.1s linear; }
    .main-sidebar .call-us .header {
      margin: 0 0 10px; }
      .main-sidebar .call-us .header .title {
        margin: 0;
        padding: 0;
        color: #fff;
        font-size: 14px;
        font-weight: 700; }
    .main-sidebar .call-us .content .link {
      color: #fff;
      display: block;
      font-size: 16px;
      font-weight: 700;
      text-decoration: none; }
  .main-sidebar .list {
    padding: 0;
    list-style-type: none; }
    .main-sidebar .list .item {
      padding: 0 10px 0 8px;
      margin-bottom: 5px; }
      .main-sidebar .list .item .link {
        height: 42px;
        display: block;
        color: #918aab;
        overflow: hidden;
        padding: 10px 10px;
        text-decoration: none;
        background-color: #2f2a40;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        border-radius: 4px; }
        .main-sidebar .list .item .link .demo-icon {
          font-size: 16px; }
        .main-sidebar .list .item .link .text {
          opacity: 0;
          height: 0;
          font-size: 14px;
          font-weight: 700;
          visibility: hidden;
          transition: visibility 0s linear 0.5s; }
        .main-sidebar .list .item .link:hover {
          opacity: 1;
          color: #bcb6d2; }
        .main-sidebar .list .item .link:focus, .main-sidebar .list .item .link:active {
          color: #bcb6d2;
          background-color: #2a253c; }
  .main-sidebar .developer-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.05); }
    .main-sidebar .developer-wrap .developer {
      display: block;
      color: #918aab;
      padding: 15px 5px;
      text-decoration: none;
      height: 50px; }
      .main-sidebar .developer-wrap .developer .demo-icon {
        font-size: 16px; }
        .main-sidebar .developer-wrap .developer .demo-icon:before {
          width: 40px; }
      .main-sidebar .developer-wrap .developer .text {
        opacity: 0;
        height: 0;
        overflow: hidden;
        font-size: 14px;
        font-weight: 700;
        visibility: hidden;
        transition: visibility 0s linear 0.5s; }
  .main-sidebar:hover {
    width: 250px; }
    .main-sidebar:hover .call-us {
      opacity: 1;
      width: auto;
      padding: 15px 15px;
      visibility: visible; }
    .main-sidebar:hover .list .item .link .text {
      opacity: 1;
      overflow: visible;
      visibility: visible; }
    .main-sidebar:hover .developer-wrap .developer .text {
      opacity: 1;
      height: auto;
      margin: 3px 0 0;
      visibility: visible; }

/* ==========================================================
* End of Sidebar
* ===========================================================
*/
/* ==========================================================
* Begin of Content
* ===========================================================
*/
.main {
  margin-left: 63px;
  padding: 0; }
  .main .section .header .title {
    margin: 0;
    padding: 0;
    color: #292b33;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Roboto Slab', serif; }
  .main .main-header {
    border-bottom: 1px solid #d2dae2; }
    .main .main-header .header-top {
      background-color: #fff;
      padding: 30px 40px 30px;
      border-bottom: 1px solid #d2dae2; }
      .main .main-header .header-top [class*='col-'] .image-wrap {
        padding: 0 0 0 15px; }
        .main .main-header .header-top [class*='col-'] .image-wrap .image {
          display: block;
          width: 100%;
          vertical-align: top; }
      .main .main-header .header-top [class*='col-']:nth-child(1) .image-wrap {
        padding: 0 15px 0 0; }
    .main .main-header .header-middle {
      padding: 5px 40px 15px;
      margin: 0;
      background-color: #fff; }
      .main .main-header .header-middle .inner .logo {
        display: block;
        padding: 100px 50px 50px 15px; }
        .main .main-header .header-middle .inner .logo .image {
          display: block;
          max-width: 100%;
          vertical-align: top; }
      .main .main-header .header-middle .inner .most-popular {
        padding: 25px 15px; }
        .main .main-header .header-middle .inner .most-popular .header {
          padding: 0 0 15px; }
          .main .main-header .header-middle .inner .most-popular .header .title {
            font-size: 18px; }
        .main .main-header .header-middle .inner .most-popular .content {
          padding: 25px 15px;
          border: 1px solid #dbe2e6;
          background-color: #ffffff;
          -webkit-border-radius: 4px;
          -moz-border-radius: 4px;
          -ms-border-radius: 4px;
          border-radius: 4px; }
          .main .main-header .header-middle .inner .most-popular .content .list {
            padding: 0;
            margin: 0;
            list-style-type: none; }
            .main .main-header .header-middle .inner .most-popular .content .list .item {
              float: left;
              display: block;
              width: 16.66667%;
              text-align: center;
              overflow: hidden;
              -webkit-border-radius: 4px;
              -moz-border-radius: 4px;
              -ms-border-radius: 4px;
              border-radius: 4px; }
              .main .main-header .header-middle .inner .most-popular .content .list .item .link {
                display: inline-block; }
                .main .main-header .header-middle .inner .most-popular .content .list .item .link .image {
                  display: block;
                  max-width: 100%;
                  vertical-align: top;
                  border: 10px solid #efefef; }
  .main .main-content {
    background-color: #fff; }
    .main .main-content .news {
      height: 1000px;
      padding: 30px 50px 30px 40px; }
      .main .main-content .news .header {
        margin: 0 0 15px; }
        .main .main-content .news .header .title {
          text-align: center;
          text-transform: inherit; }
      .main .main-content .news .list {
        padding: 0;
        list-style-type: none; }
        .main .main-content .news .list .item {
          border-top: 1px solid #dbe2e6; }
          .main .main-content .news .list .item .section {
            margin: 0 0 30px;
            padding: 30px 0 0; }
            .main .main-content .news .list .item .section .header {
              margin: 0 0 5px; }
              .main .main-content .news .list .item .section .header .title {
                font-size: 16px;
                line-height: 20px;
                font-weight: 500;
                text-align: left; }
                .main .main-content .news .list .item .section .header .title .link {
                  text-decoration: none;
                  color: #808080; }
            .main .main-content .news .list .item .section .content {
              position: relative; }
              .main .main-content .news .list .item .section .content .date {
                top: 3px;
                right: 3px;
                font-size: 12px;
                font-weight: 700;
                padding: 2px 5px;
                position: absolute;
                color: #fff;
                background-color: rgba(55, 49, 73, 0.9); }
              .main .main-content .news .list .item .section .content .image {
                width: 100%;
                height: auto;
                display: block;
                margin: 10px 0;
                vertical-align: top;
                border: 10px solid #efefef; }
              .main .main-content .news .list .item .section .content .description {
                font-weight: 500; }
              .main .main-content .news .list .item .section .content .readmore {
                color: #fff;
                display: block;
                font-size: 14px;
                padding: 5px 10px;
                text-align: center;
                text-decoration: none;
                color: #232635;
                background-color: #dbe2e6; }
          .main .main-content .news .list .item:nth-child(1) {
            border-top: 0;
            padding: 0; }
    .main .main-content .central {
      /*
      border-left: 1px solid #dbe2e6;
      border-right: 1px solid #dbe2e6;
      */ }
      .main .main-content .central .search {
        padding: 30px 0px;
        background-color: #f2f5f7;
        background-color: #fff; }
        .main .main-content .central .search .content .input {
          width: 100%;
          height: 60px;
          font-size: 18px;
          font-weight: 700;
          text-indent: 18px;
          background-color: #fff;
          transition: 0.5s all;
          -webkit-transition: 0.5s all;
          -moz-transition: 0.5s all;
          -o-transition: 0.5s all;
          -ms-transition: 0.5s all;
          -webkit-border-radius: 2px;
          -moz-border-radius: 2px;
          -ms-border-radius: 2px;
          border-radius: 2px;
          color: rgba(60, 63, 71, 0.6);
          border: 7px solid #373149; }
          .main .main-content .central .search .content .input:focus, .main .main-content .central .search .content .input:active {
            outline: none;
            color: #3c3f47;
            border: 7px solid #373149; }
      .main .main-content .central .catalog {
        height: 1000px;
        padding: 30px 0;
        background-color: #fff; }
        .main .main-content .central .catalog .header .title {
          text-transform: inherit; }
    .main .main-content .clients {
      height: 1000px;
      padding: 30px 40px 30px 50px;
      background-color: #f2f5f7;
      background-color: #fff; }
      .main .main-content .clients .header {
        margin: 0 0 15px; }
        .main .main-content .clients .header .title {
          text-align: center;
          text-transform: inherit; }
      .main .main-content .clients .content .list {
        padding: 0;
        list-style-type: none; }
        .main .main-content .clients .content .list .item {
          padding: 25px 0;
          margin: 0 0 0;
          border-top: 1px solid #dbe2e6; }
          .main .main-content .clients .content .list .item .link {
            display: block; }
            .main .main-content .clients .content .list .item .link .image {
              width: 100%;
              height: auto;
              display: block;
              vertical-align: top;
              border: 10px solid #efefef; }
          .main .main-content .clients .content .list .item:nth-child(1) {
            border-top: 0; }

/* ==========================================================
* End of Content
* ===========================================================
*/
/* ==========================================================
* Begin of Getting footer to the bottom 
* ===========================================================
*/
html,
body {
  height: 100%; }

.wrapper {
  position: relative;
  min-height: 100%; }

.main-footer {
  display: none;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px; }

/* ==========================================================
* End  of Getting footer to the bottom 
* ===========================================================
*/
/* ==========================================================
* Begin of Footer
* ===========================================================
*/
/* ==========================================================
* End of Footer
* ===========================================================
*/
