.btn {
  cursor: pointer;
  transition: .5s;
  &_toggle {
    .btn__line {
      left: 0;
      opacity: 1;
      height: 4px;
      width: 100%;
      display: block;
      position: absolute;
      border-radius: 12px;
      background: @white;
      transform: rotate(0deg);
      transition: .25s ease-in-out;
      &:nth-child(1) {
        top: 0;
      }
      &:nth-child(2),
      &:nth-child(3) {
        top: 10px;
      }
      &:nth-child(4) {
        top: 20px;
      }
    }
    &.active {
      .btn__line:nth-child(1) {
        top: 18px;
        width: 0;
        left: 50%;
      }
      .btn__line:nth-child(2) {
        transform: rotate(45deg);
      }
      .btn__line:nth-child(2),
      .btn__line:nth-child(3) {
        top: 10px;
      }
      .btn__line:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
      .btn__line:nth-child(4) {
        top: 18px;
        width: 0;
        left: 50%;
      }
    }
  }
  &_search {

  }
  &:active,
  &:focus {
    outline: none;
    color: #fff;
  }
  &:active {
    &:focus {
      outline: none;
      color: #fff;
    }
  }
  &:hover {
    opacity: .8;
  }
}