* {
	box-sizing: border-box;
}
body {
	color: @blue-dark;
	font-family: "Open sans", sans-serif;
	background-color: #f1f1f1;
}
p {
	color: #404040;
	line-height: 22px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Roboto Slab', serif;
}