.header {
	&-top {
		margin: 0 0 25px;
		padding: 25px 25px;
		background-color: @white;
	  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
		.clearfix;
		&__link {
			opacity: 1;
			display: block;
			&:hover {
				opacity: .8;
				transition: all .5s;
			}
		}
		&__img {
			width: 100%;
			height: auto;
			vertical-align: top;
		}
		.column {
			padding: 0 0 0 15px;
			&:first-child {
				padding: 0 15px 0 0;
			}
		}
	}
	&-bottom {
		margin: 0 0 25px;
		padding: 0 25px;
		background-color: @white;
	  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
		.clearfix;
	}
	&-mobile {
		display: none;

		top: 0;
		left: 0;
		right: 0;
		z-index: 10;
		position: fixed;

    height: 60px;
  	background-color: @blue-dark;
    box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.4);
		.menu {
			opacity: 0;
			transition: .5s;
			visibility: hidden;
			&__icon {
				display: none;
			}
		}
	  &__btn {
	    float: right;
	    border: 0;
	    width: 32px;
	    height: 32px;
	    cursor: pointer;
	    margin: 19px 25px 5px;
	    transform: rotate(0deg);
	    transition: .5s ease-in-out;
	    background-color: transparent;
	  }
		&.active {
			.menu {
				opacity: 1;
				visibility: visible;

				transition: .5s;
				position: absolute;
				top: 60px;
				left: 0;
				right: 0;
				padding: 25px 0;
				text-align: center;
				background-color: rgba(55, 49, 73, .9);
				&__link {
					height: auto;
					padding: 25px 0;
					background-color: transparent;
				}
				&__icon {
					display: none;
				}
				&__text {
					opacity: 1;
					height: auto;
					color: @white;
					font-size: 26px;
					font-weight: 300;
					visibility: visible;
				}
			}
		}
	}
}