.info {
	margin: 0 0 25px;
	padding: 25px 25px;
	background-color: @white;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
	.info__title {
		font-size: 16px;
		margin: 0 0 15px;
		line-height: 24px;
	}
	p {
		font-size: 14px;
	}
}