.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  .clearfix;
  &__item {
    padding: 0 10px 0 0;
    margin-bottom: 5px;
  }
  &_vertical {
    &__item {
      padding: 0 10px 0 8px;
      margin-bottom: 5px;
    }
  }
  &_horizontal {
    .list__item {
      float: left;
    }
  }
}