.search {
  position: relative;
  padding: 25px 25px;
  margin: 0 0 25px;
  background-color: @white;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  &__field {
    z-index: 1;
    position: relative;
    text-indent: 70px;
    width: 100%;
    height: 60px;
    border: 5px solid @blue-dark;
    line-height: 30px;
    font-size: 20px;
    color: @blue-dark;
    text-transform: lowercase;
    &:focus {
      outline: none;
    }
  }
  &__btn {
    top: 35px;
    right: 35px;
    border: 0;
    z-index: 2;
    position: absolute;
    background-color: transparent;
  }
  &__icon {
    top: 38px;
    left: 42px;
    border: 0;
    z-index: 2;
    position: absolute;
    width: 40px;
    height: 40px;
    fill: @blue-dark;
  }
  .btn__icon {
    width: 40px;
    height: 40px;
    fill: @blue-dark;
  }
}
#ajaxsearchpro1_1 {
  box-shadow: none !important;
  .probox {
    border: 5px solid @blue-dark !important;
    &:focus {
      outline: none;
    }
    .proinput {
     
      .orig {
        text-indent: 70px;
        font-size: 18px !important;
        font-weight: 400 !important;
        &::-webkit-input-placeholder {
          font-size: 18px !important;
          font-weight: 400 !important;
        }
        &:-moz-placeholder { /* Firefox 18- */
          font-size: 18px !important;
          font-weight: 400 !important;
        }
        &::-moz-placeholder {  /* Firefox 19+ */
          font-size: 18px !important;
          font-weight: 400 !important;
        }
        &:-ms-input-placeholder {  
          font-size: 18px !important;
          font-weight: 400 !important;
        }
      }
    }
  }
}