// Screen sizes
@desktop-big: 	1400px;
@desktop: 			1100px;
@tablet: 				1024px;
@portrait: 			767px;
@mobile: 				480px;
@full: 					auto;

// Color
@white: 					#fff;
@grey-light: 			#ccc;
@grey-middle: 		#918aab;
@blue-lighter: 		#64588e;
@blue-light: 			#2f2a40;
@blue-dark: 			#373149;
