.widget {
  .clearfix;
	&__title {
		font-size: 20px;
		margin: 0 0 20px;
	}
	&_logo {
		float: left;
		width: 200px;
		margin: 0 30px 0 0;
	}
	&_popular {
		float: left;
		width: 72%;
		padding: 25px 0;
		.list__item {
			width: 20%;
			max-width: 200px;
		}
		.widget__link {
			display: block;
			&:hover {
				opacity: .8;
				transition: all .5s;
			}
		}
		.widget__img {
			height: auto;
			max-width: 100%;
			vertical-align: top;
		}
	}
	&_news {
		width: 15%;
		float: left;
		padding: 25px 25px;
		background-color: @white;
	  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
		.list__item {
			margin: 0 0 25px;
		}
		&__img {
			width: 100%;
			display: none;
		}
		&__link {
			display: block;
			margin: 0 0 5px;
			text-decoration: none;
			color: @blue-dark;
			&:hover {
				opacity: .8;
				transition: all .5s;
			}
		}
		&__title {
			margin: 0 0 5px;
			font-size: 14px;
		}
		&__date {
			font-size: 12px;
			font-weight: 700;
			margin: 0 0 5px;
			text-align: right;
		}
		&__descr {
			font-size: 13px;
			line-height: 15px;
			margin: 0 0 5px;
		}
	}
	&_clients {
		width: 15%;
		float: left;
		text-align: center;
		padding: 25px 25px;
		background-color: @white;
	  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
		&__img {
			height: auto;
			max-width: 100%;
			display: inline-block !important;
		}
		&__link {
			display: block;
			margin: 0 0 25px;
			&:hover {
				opacity: .8;
				transition: all .5s;
			}
		}
		.list {
			&__item {
				margin: 0;
				height: 180px;
			}
		}
	}
	&_center {
		margin: 0 0 25px;
		padding: 25px 25px;
		background-color: @white;
	  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
	}
}